body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message {
  background-color: darkgray;
  font-size: 1.5em;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.message.error{
  color: lightsalmon;
  border-color: lightsalmon;
}

.message.success{
  color: lightgreen;
  border-color: lightgreen;
}

.blog {
  padding: 1em 2em;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 0.5em;
}

.blog.can-remove {
  border-style: solid;
}